# Python 
## Passando argumentos via dicionário

In [1]:
def addOne(x):
    return x + 1

In [2]:
addOne(2)

3

In [3]:
addOne(**{"x": 2})

3

## List Comprehension

In [4]:
my_list = [1,2,3,4,5]

In [5]:
my_list_plus_1 = []
for element in my_list:
    my_list_plus_1.append(element + 1)
    
my_list_plus_1

[2, 3, 4, 5, 6]

In [6]:
[element + 1 for element in my_list]

[2, 3, 4, 5, 6]

### List Comprehension and Filters

In [7]:
oddNum = []
for num in range(20):
    if num % 2 == 0:
        oddNum.append(num)

oddNum

[0, 2, 4, 6, 8, 10, 12, 14, 16, 18]

In [8]:
[num for num in range(20) if num % 2 == 0]

[0, 2, 4, 6, 8, 10, 12, 14, 16, 18]

## Dict Comprehension

In [9]:
square_dict = {}
for num in range(5):
    square_dict[num] = num ** 2
    
square_dict

{0: 0, 1: 1, 2: 4, 3: 9, 4: 16}

In [10]:
{num: num ** 2 for num in range(5)}

{0: 0, 1: 1, 2: 4, 3: 9, 4: 16}

## Funções Anônimas

In [11]:
def addOne(x):
    return x + 1

addOne(2)

3

In [12]:
addOneNew = lambda x: x + 1
addOneNew(2)

3

In [13]:
# Odd Numbers
list(filter(lambda x: x % 2 == 0, range(20)))

[0, 2, 4, 6, 8, 10, 12, 14, 16, 18]

## Map e Reduce

In [14]:
# map aplica uma função para cada elemento da lista
list(map(lambda x: x + 1, my_list))

[2, 3, 4, 5, 6]

In [15]:
# reduce reduz uma lista a partir de uma função combinadora
from functools import reduce
reduce(lambda x, y: x + y, my_list)

15

In [16]:
sum(my_list)

15

# Pandas

## Assign

In [17]:
import pandas as pd
df = pd.DataFrame({"col_1": [1,2,3,4,5],
                   "col_2": [0,0,1,0,1]})

In [18]:
df.assign(col_3 = df["col_1"] + df["col_2"])

   col_1  col_2  col_3
0      1      0      1
1      2      0      2
2      3      1      4
3      4      0      4
4      5      1      6

In [19]:
df.assign(**{"col_3": df["col_1"] + df["col_2"]})

   col_1  col_2  col_3
0      1      0      1
1      2      0      2
2      3      1      4
3      4      0      4
4      5      1      6

## Method Chain

Mais sobre [method chain](https://tomaugspurger.github.io/method-chaining)

In [20]:
(df
 .rename(columns={"col_1": "col_a"})
 .query("col_2==0")
 .assign(col_3 = lambda df: df["col_a"] + df["col_2"])
 .set_index("col_a")
)

       col_2  col_3
col_a
1          0      1
2          0      2
4          0      4